form {
	display: flex;
	flex-direction: column;

	position: absolute;
	left: 50%;
	top: 50%;

	width: 400px;
	height: 200px;
	padding: 100px;

	transform: translate(-50%, -50%);

	border: 1px solid gray;
}
